
<div class="bg" style="min-height:750px;margin-top:-30px;">
    <div id="loginleftbox"></div>
        <div id="loginmidbox">
    <h1>Admin Login</h1> <hr style="margin-top: -10px;">
    <br>    
    <div class="item-icon">
       <div class="icon">
        </div><input type="text" [(ngModel)]="email" placeholder="Email" autocomplete="off">
    </div>
    <br /><br>
    <div class="item-icon">
        <div class="icon">
         </div><input type="password" [(ngModel)]="password" placeholder="Password" autocomplete="off">
     </div>
     <br /><br>
    <div>
        <button (click)="signIn()" ><span>Login</span></button>
    </div>
    <br><br>
    
</div>
</div>
