<div class="contactbg" id="contacthalfbox1" >
</div>
     <div id="contacthalfbox2">
     <p style="font-size:44px;font-weight:bold;text-align:center;color:#ed8f76;">Contact Us</p><hr style="margin-top:-30px;">
     <P style="font-weight:bold;text-align: center;font-size: 46px;color: indigo;">
        MEDI - STORE
    </P>
     <p style="text-align: left;font-size: 30px;padding-left: 90px;">
        
        No:12, Kamal Street,<br>
        Sowcarpet,<br>
        Chennai - 600001.<br>
        Cell No :- 91500 38763<br>
        <a href="admin@medistore.com">admin@medistore.com</a>
        <br>
     </p>
 
 </div>