    <div class="abtbg" id="abthalfbox1" >
   </div>
        <div id="abthalfbox2">
        <p style="font-size:44px;font-weight:bold;text-align:center;color:#ed8f76;">About</p><hr style="margin-top:-30px;">
        <P style="font-weight: 400;text-align: justify;font-size: x-large;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <span style="font-weight: bold;color:#ed8f76;">E-Medicine</span> which empowers people to buy medicines from the convenience of home 24/7 and 365 days a year. 
        Following a bulk purchase formula, we are able to provide our customers with the lowest price for all medicines. 
        With fast sales and inventory rotation, we always provide a fresh batch of medicines to our customers.
        Orders will be delivered to your doorstep.
    </P>
    <ul style="list-style-type: square; line-height:150%;font-weight: 400;text-align: justify;font-size: x-large;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <li>
            E-Medicine manages the details of Medical Shop, Stocks, Inventory, Sells and Company.
        </li>
        <li>
            E-Medicine does it all with a touch of a button.
        </li>
        <li>
            Bringing along the continuous development, supreme support systems, trustworthy customer care, addition of features on a regular basis and it is a no-brainer to choose E-Medicine.
        </li>
    </ul>    
    </div>

